@mixin btn-common() {
}

.custom-btn-primary {
  @include btn-common;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

.copy-icon {
  display: inline-block;
  width: 20px;
  cursor: pointer;
  vertical-align: middle;
}
