@font-face {
  font-family: "iconfont"; /* Project id 3826471 */
  src: url('//at.alicdn.com/t/c/font_3826471_y17sgb217cb.woff2?t=1671011687377') format('woff2'),
       url('//at.alicdn.com/t/c/font_3826471_y17sgb217cb.woff?t=1671011687377') format('woff'),
       url('//at.alicdn.com/t/c/font_3826471_y17sgb217cb.ttf?t=1671011687377') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e60c";
}

.icon-copy:before {
  content: "\e706";
}

